# Flutter / Dart / Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sw?

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*.swp

# Android
**/android/.gradle/
**/android/captures/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/local.properties
**/android/.idea/

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/ServiceDefinitions.json
**/ios/.generated/
xcuserdata/
DerivedData/

# Web
.dart_tool/
build/
web/.dart_tool/

# Coverage
coverage/

# Symbolication
app.*.symbols
app.*.map.json

# Misc
*.class
*.log
*.pyc
.history
atom/
buildlog/
migrate_working_dir/

# Ignora arquivos gerados no Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake

# Ignora arquivos gerados no macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/